/* Styling untuk body */
body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 700;
    font-size: 35px;

    margin-top: 10px;
    margin-bottom: 10px;
}

h1 span {
    font-weight: 300;
}


/* Styling untuk navigasi */
nav {
    background-color: #333333;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}


/* Styling untuk header */
header {
    width: 100%;
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 25px;

    text-align: center;
}

/* Styling untuk form */
.search-form, .floating-button {
    text-align: center;
}

/* Styling untuk tabel */
table {
    width: 30%;
    margin-top: 25px;
    margin-bottom: 25px;

    margin-right: auto;
    margin-left: auto;

    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

#table-task {
    height: 25px;
}


/* Styling untuk footer */
footer {
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

footer p {
    margin: 0;
}